Bonus_UptimeMonitor.json
{
  "name": "Uptime Monitor - Conduit Demo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://demo.realworld.show",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "id": "http-check",
      "name": "Ping Conduit App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst statusCode = item.status || 0;\nconst responseTime = item.responseTime || 0;\nconst timestamp = new Date().toISOString();\nconst isUp = statusCode === 200;\n\nreturn [{\n  json: {\n    url: 'https://demo.realworld.show',\n    statusCode,\n    responseTime: Math.round(responseTime),\n    isUp,\n    timestamp,\n    alertMessage: isUp \n      ? `UP: Conduit returned ${statusCode} in ${Math.round(responseTime)}ms`\n      : `DOWN: Conduit returned ${statusCode} (expected 200). Response time: ${Math.round(responseTime)}ms`\n  }\n}];"
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-down",
              "leftValue": "={{ $json.isUp }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-down",
      "name": "IF App Is Down",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://demo.realworld.show",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "id": "retry-check",
      "name": "Retry Ping (2nd attempt)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const originalItem = $('Check Status').first().json;\nconst retryItem = $input.first().json;\nconst retryStatus = retryItem.status || 0;\nconst isStillDown = retryStatus !== 200;\n\nreturn [{\n  json: {\n    ...originalItem,\n    retryStatus,\n    isStillDown,\n    finalMessage: isStillDown\n      ? `CONFIRMED DOWN: Conduit failed both attempts. First: ${originalItem.statusCode}, Retry: ${retryStatus}. Response time: ${originalItem.responseTime}ms. Time: ${originalItem.timestamp}`\n      : `RECOVERED: Conduit was down on first check (${originalItem.statusCode}) but recovered on retry (${retryStatus}). Time: ${originalItem.timestamp}`\n  }\n}];"
      },
      "id": "retry-eval",
      "name": "Evaluate Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"ALERT: {{ $json.finalMessage.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\", \"icon_emoji\": \":rotating_light:\"}",
        "options": {}
      },
      "id": "alert-slack",
      "name": "Alert to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Log all checks (both up and down) for daily summary\nconst item = $('Check Status').first().json;\n\n// Store in workflow static data for daily summary\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.checks) {\n  staticData.checks = [];\n}\n\nstaticData.checks.push({\n  timestamp: item.timestamp,\n  isUp: item.isUp,\n  statusCode: item.statusCode,\n  responseTime: item.responseTime\n});\n\n// Keep only last 288 checks (24 hours at 5-min intervals)\nif (staticData.checks.length > 288) {\n  staticData.checks = staticData.checks.slice(-288);\n}\n\nreturn [{ json: { logged: true, totalChecks: staticData.checks.length } }];"
      },
      "id": "log-check",
      "name": "Log Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        420
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Daily Summary Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst checks = staticData.checks || [];\n\nif (checks.length === 0) {\n  return [{ json: { message: 'No checks recorded in the last 24 hours.' } }];\n}\n\nconst totalChecks = checks.length;\nconst upChecks = checks.filter(c => c.isUp).length;\nconst downChecks = totalChecks - upChecks;\nconst uptimePercent = ((upChecks / totalChecks) * 100).toFixed(2);\nconst avgResponseTime = Math.round(checks.reduce((sum, c) => sum + c.responseTime, 0) / totalChecks);\nconst maxResponseTime = Math.max(...checks.map(c => c.responseTime));\nconst minResponseTime = Math.min(...checks.map(c => c.responseTime));\n\nconst downtimeEvents = checks.filter(c => !c.isUp);\nconst lastDowntime = downtimeEvents.length > 0 \n  ? downtimeEvents[downtimeEvents.length - 1].timestamp \n  : 'None';\n\nconst summary = `Daily Uptime Summary - Conduit Demo\n` +\n  `Period: Last ${totalChecks} checks (~${Math.round(totalChecks * 5 / 60)} hours)\n\n` +\n  `Uptime: ${uptimePercent}%\n` +\n  `Total Checks: ${totalChecks}\n` +\n  `Up: ${upChecks} | Down: ${downChecks}\n\n` +\n  `Response Time (ms):\n` +\n  `  Average: ${avgResponseTime}ms\n` +\n  `  Min: ${minResponseTime}ms\n` +\n  `  Max: ${maxResponseTime}ms\n\n` +\n  `Last Downtime: ${lastDowntime}`;\n\n// Clear static data for next day\nstaticData.checks = [];\n\nreturn [{ json: { summary, uptimePercent: parseFloat(uptimePercent), totalChecks, upChecks, downChecks, avgResponseTime } }];"
      },
      "id": "daily-summary",
      "name": "Generate Daily Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        600
      ]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"{{ $json.summary.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\", \"icon_emoji\": \":bar_chart:\"}",
        "options": {}
      },
      "id": "daily-slack",
      "name": "Daily Summary to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        600
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Ping Conduit App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping Conduit App": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "IF App Is Down",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF App Is Down": {
      "main": [
        [
          {
            "node": "Retry Ping (2nd attempt)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Retry Ping (2nd attempt)": {
      "main": [
        [
          {
            "node": "Evaluate Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Retry": {
      "main": [
        [
          {
            "node": "Alert to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Summary Trigger": {
      "main": [
        [
          {
            "node": "Generate Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Daily Summary": {
      "main": [
        [
          {
            "node": "Daily Summary to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "uptime-monitor"
    },
    {
      "name": "conduit"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2026-06-01T00:00:00.000Z",
  "versionId": "1"
}
