Task2_Workflow.json
{
  "name": "GitHub Trending Morning Brief",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 1 Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/search/repositories?q=created:>2026-05-25+language:typescript&sort=stars&order=desc&per_page=10",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "github-search",
      "name": "GitHub Trending Repos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items.length || !items[0].json.items) {\n  return [{ json: { error: 'No data from GitHub API', repos: [] } }];\n}\n\nconst repos = items[0].json.items\n  .map(repo => ({\n    name: repo.full_name,\n    description: repo.description || 'No description',\n    stars: repo.stargazers_count,\n    language: repo.language || 'Unknown',\n    url: repo.html_url,\n    owner: repo.owner?.login || 'Unknown',\n    created_at: repo.created_at\n  }))\n  .sort((a, b) => b.stars - a.stars)\n  .slice(0, 5);\n\nreturn [{ json: { repos, count: repos.length, fetched_at: new Date().toISOString() } }];"
      },
      "id": "transform-node",
      "name": "Transform & Top 5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.repos[0].url.replace('https://github.com', 'https://api.github.com/repos') }}/readme",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "enrich-readme",
      "name": "Fetch Top Repo README",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst prevNode = $('Transform & Top 5').first().json;\n\nlet readmeSnippet = 'README not available';\nif (items.length && items[0].json.content) {\n  try {\n    readmeSnippet = Buffer.from(items[0].json.content, 'base64').toString('utf-8').substring(0, 500);\n  } catch (e) {\n    readmeSnippet = 'Could not decode README content';\n  }\n}\n\nconst topRepo = prevNode.repos[0];\nconst allRepos = prevNode.repos;\n\n// Build digest message\nlet message = `GitHub Trending TypeScript Repos - Morning Brief\\n`;\nmessage += `Fetched at: ${prevNode.fetched_at}\\n\\n`;\n\nallRepos.forEach((repo, i) => {\n  message += `${i + 1}. ${repo.name} (${repo.stars} stars)\\n`;\n  message += `   ${repo.description}\\n`;\n  message += `   ${repo.url}\\n\\n`;\n});\n\nmessage += `\\n--- Top Repo README Snippet ---\\n`;\nmessage += `${topRepo.name}:\\n${readmeSnippet}...\\n`;\n\n// Determine branch based on star threshold\nconst isHighStars = topRepo.stars > 100;\n\nreturn [{\n  json: {\n    digest: message,\n    topRepoName: topRepo.name,\n    topRepoStars: topRepo.stars,\n    isHighStars,\n    repoCount: allRepos.length,\n    fetched_at: prevNode.fetched_at\n  }\n}];"
      },
      "id": "build-digest",
      "name": "Build Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "stars-condition",
              "leftValue": "={{ $json.isHighStars }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-stars",
      "name": "IF Stars > 100",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst digest = item.digest;\nconst enhancedDigest = `HIGH STARS ALERT\\n\\n${digest}\\n\\nThis repo has ${item.topRepoStars} stars - significantly trending! Consider reviewing immediately.`;\n\nreturn [{ json: { ...item, digest: enhancedDigest, branch: 'high-stars' } }];"
      },
      "id": "high-stars-msg",
      "name": "High Stars Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst digest = item.digest;\nconst standardDigest = `Standard Digest\\n\\n${digest}\\n\\nThis repo has ${item.topRepoStars} stars - below high-alert threshold.`;\n\nreturn [{ json: { ...item, digest: standardDigest, branch: 'standard' } }];"
      },
      "id": "standard-msg",
      "name": "Standard Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        400
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@example.com",
        "toEmail": "team@example.com",
        "subject": "=GitHub Trending Brief - {{ $json.topRepoName }} ({{ $json.topRepoStars }} stars)",
        "text": "={{ $json.digest }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email Digest",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1540,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials-id",
          "name": "SMTP credential"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"{{ $json.digest.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"}",
        "options": {}
      },
      "id": "slack-notify",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        500
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Error handler - logs all errors from previous nodes\nconst errors = [];\nconst nodeNames = ['GitHub Trending Repos', 'Fetch Top Repo README'];\n\nfor (const name of nodeNames) {\n  try {\n    const nodeOutput = $(name);\n    if (nodeOutput && nodeOutput.first && nodeOutput.first().json && nodeOutput.first().json.error) {\n      errors.push({ node: name, error: nodeOutput.first().json.error });\n    }\n  } catch (e) {\n    // Node may not have output if it succeeded\n  }\n}\n\nif (errors.length > 0) {\n  const errorMessage = `Morning Brief Errors:\\n${errors.map(e => `- ${e.node}: ${e.error}`).join('\\n')}`;\n  return [{ json: { error: true, message: errorMessage, timestamp: new Date().toISOString() } }];\n}\n\nreturn [{ json: { error: false, message: 'No errors detected' } }];"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        520
      ]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"ERROR: {{ $json.message.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\", \"icon_emoji\": \":warning:\"}",
        "options": {}
      },
      "id": "error-slack",
      "name": "Error to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        520
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every 1 Hour": {
      "main": [
        [
          {
            "node": "GitHub Trending Repos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Trending Repos": {
      "main": [
        [
          {
            "node": "Transform & Top 5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform & Top 5": {
      "main": [
        [
          {
            "node": "Fetch Top Repo README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Top Repo README": {
      "main": [
        [
          {
            "node": "Build Digest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest": {
      "main": [
        [
          {
            "node": "IF Stars > 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Stars > 100": {
      "main": [
        [
          {
            "node": "High Stars Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Standard Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Stars Message": {
      "main": [
        [
          {
            "node": "Send Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standard Message": {
      "main": [
        [
          {
            "node": "Send Email Digest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "morning-brief"
    },
    {
      "name": "github"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-06-01T00:00:00.000Z",
  "versionId": "1"
}
